@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
html{

    /* (10px/16px) X 100% */ /*This is in order to use rem*/
    font-size:62.5%;
    box-sizing: border-box;

}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd; 
  }
ul {
       list-style:none;
       padding: 0;
     }
li {
    list-style: none;
}
h1, h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', serif;
}
h1 {
    font-size: 3.5rem;
    font-weight: 400;    
    color:#555;
    text-transform: uppercase;
    text-align:center;
    margin-bottom: 2.0rem;
}
h2 {
    font-size: 2.5rem;    
    color:#555;
    font-weight: 400;    
    text-transform: uppercase;
    text-align:center;
    margin-bottom: 2.0rem;
}
h3 {
    font-size:2rem;
    font-weight: 300;
    color:#555;
    margin-bottom: 2.0rem;
}
h4 {
    font-size:1.5rem;
}
h5 {
    font-size:1rem;
}
h6 {
    font-size:.7rem;
}
p {
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: .1rem;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    margin-right: 3rem;
    margin-top: 0;
}

.wrapper{
    width:auto;
    max-width: 1200px;
}
.sidebar {
    width: 6rem;
    height: 100%;
    background-color: #dcd6eb;
    position:fixed;    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;    
    z-index:10
}
section {
    display: flex;     
    margin: 10rem 0 10rem 6rem;
}

/* Menu */
.menu__icons {
    margin-top: 2rem;
    cursor: pointer;  
   
                                            

}

.menu__icons .line {
    height: .2rem;
    background-color: #222;
    margin-top: .5rem;
    transition: width 1.1s;
    
}

.line-1,.line-3 {
    width: 1.8rem
}
.line-2 {
    width:2.5rem
}  

/* menu hover */
.menu__icons:hover div{
    width: 2.5rem;    
}

/* Social Media Icons  */
.social__media ul{
    display: flex;
    height:25rem;
    flex-direction: column;
    justify-content:space-evenly;
      
}
.social__link {
    font-size: 2rem;
    color:#777;
    transition: color .4s
}

.social__link:hover {
    color: #77777783 ;
}

.date {
 font-size: 1.5rem;
 columns: #555;
 margin-bottom: 1rem;
}

/* Navigation  */
.navigation {
    position: fixed;
    left:-34rem;
    width: 40rem;
    height: 100%;   
    background:linear-gradient(to top, rgba(12, 12, 12),rgba(12, 12, 12,.9), rgba(51, 51, 51, 0.9)), url(../images/hotel1.jpg) no-repeat center /cover;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;   
    transition:left .9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    z-index: 9;
}

.navigation__heading {
    font-size:4rem;
    color:#e76a6a9d;
    text-align:center;
    margin-top: 1rem;


}
.navigation__search input {
outline-style: none;
    width:25rem;
    height: 2.5rem;
    padding: 1rem 1.5rem;   
    background-color: rgb(202, 201, 201);
    border-radius:10rem;
    border:.1rem solid #222;
    color: rgb(90, 90, 90);
    font-size: 1.5rem;
    outline: none;  
    transition: background-color .6s;

    
}
.navigation__search input:active{
    background-color: rgba(202, 201, 201,.2);
}


.navigation__search button { 
background-color: transparent;
border:none;
position: relative;
left:-4rem;
outline:none;
cursor:pointer;
color:#e76a6a9d;
    
}

/* Navigation List */

.navigation__list {
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
   
}

.navigation__link{
    text-decoration: none;
    color:#bebbbb;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
    transition :color .5s   
        
}

/* Link Hover State */
.navigation__link::before{
    content:'';
    height: .1rem;
    background-color: #e76a6a9d;
    position: absolute;
    left:-4rem;
    top: 1rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1)
}
.navigation__link::after {
    content:'';
    height: .1rem;
    background-color: #e76a6a9d;
    position:absolute;
    top:1rem;
    right:-4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1)
}
.navigation__link:hover{
    color: #fff;    
}

.navigation__link:hover::after, 
.navigation__link:hover::before{
    width: 3rem;
}
.copyright {
    color:#fff;
    font-size: 1.3rem;
}
.checkout{
    display: none
}
.checkout:checked ~ .navigation {
     left: 6rem
 }


 /* Header  */
 header {
     margin-left: 6rem;
     height: 100vh;
     background: linear-gradient(to bottom right ,rgba(12, 11, 11, 0.5),rgba(104, 70, 70, 0.8)), url(../images/Banner.jpg)  no-repeat center /cover;
 }


 .brand {
          display: flex;
          flex-flow: column nowrap;
          
  
 }
 
/* site-logo */
.site__logo{
    display: flex;
    flex-flow:column nowrap;
    width:25rem;
    height:23rem;   
    justify-content: center;
    align-items: center;
    margin: 2rem 3rem;
    /* background-color: red; */
    font-size:10px;
}
 

.circles{
    width: 100%;
    height:65%;
    /* background-color: red; */
}
.circle {
    display: inline-flex;
    border-radius: 50%;
    position: relative;
    z-index: 0;

}

.circle-1{
    background-color: #e76a6a9d;
    width: 8rem;
    height: 8rem;
    left:1rem;
}
.circle-2{
    background-color: #ACDAFF;
    width: 6rem;
    height: 6rem;
    top:5rem;
    

}
.circle-3{
    background-color: #6920B0;
    width: 4rem;
    height: 4rem;

}
.circle-4{
    background-color: #ACDAFF;
    width: 2rem;
    height: 2rem;
    top:5rem
}

.logo__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.hotel__heading{
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;



}

.logo__text > p {
    
    letter-spacing: .4rem;
    font-size: 1.1rem;
    color :rgb(172, 218, 255);
    margin-top: 0;
    align-self: flex-end;
    }

.banner-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top:3rem;
   
}
.banner_content_heading {
   font-size: 7rem;
   text-transform: initial;
   margin-bottom: 0;
   font-family: 'Josefin', serif;
   animation: anim 1s;
   color:#fff;
}

.banner_content_text {
    font-size:3rem;
    margin-top: 1.3rem;
    font-weight: 400;
    font-family: 'Josefin', serif;
    animation: anim 1.1s 1s backwards;

}

.banner_button {
   padding: 1rem 5rem;
   border:none;
   border-radius: 1rem;
   outline:none;
   cursor:pointer;
   font-size: 1.8rem;
   font-weight: 500;
   color:#553028;
   font-family: 'Josefin', serif;
   background:linear-gradient(to top, rgba(172, 218, 255),rgba(172, 218, 255,.1));   
   animation: anim 1s 1s backwards;
}

.banner_button:hover{
    background:linear-gradient(to top, rgba(172, 218, 255),rgba(172, 218, 255,.8));
   
}
.banner_button:active {
    transform:translateY(.3rem);
}


/* Media Queries */

@keyframes anim {
    0%{
        opacity: 0;
    };
    100%{
        opacity: 1;
    }

}
/* End of Header  */

/* About Us  */

.about__us,.room,.customers {
  padding: 0 0 0 10rem;
}
.about__us__header  {
    flex: 0 1 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    
   
}

/* Underline  */
.underline {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.small_underline{
    width: 9rem;
    height: .1rem;
    background-color: #7D5036;
    margin-bottom: .5rem;

}

.big__underline{
    width: 20rem;
    height: .1rem;
    background-color: #7D5036;
}

.about__us__images {

    flex:1 1;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
    
}

.about__us__images img {
    position: absolute;
    width: 32rem;
    object-fit: contain;
    top:50%;
    left:50%;
    box-shadow: 0 3rem 6rem #553028;
    border: .1rem solid #333;
    border-radius:.2rem;
}
.image-1{
    transform: translate(-20%, -90%);
}
.image-2{
    transform: translate(-70%, -70%);    
}
.image-3{
    transform: translate(-50%, -50%);    
}
.image-4{
    transform: translate(-30%, -30%);
}


.about__us__text {
display: flex;
flex-flow: column nowrap;
}
.about__us__btn {
    width: 20rem;
    margin-top: 2rem;
    padding: 1rem 1.3rem;
    border-radius: 3rem;
    border:0;
    color:#fff;
    font-size: 1.7rem;
    background: linear-gradient(rgba(131, 88, 54,.4),rgba(131, 88, 54,.7));  
    transition: width .5s;  
    outline: none;
    cursor: pointer;
}

.about__us__btn:hover {
    background: linear-gradient(rgba(131, 88, 54,.9),rgba(131, 88, 54,.7));  
    }
.about__us__btn:active {
     transform: translateY(.3rem);
    }


    /* Room  */
.room{    
    display: flex;
    flex-flow:column nowrap;

}
.room__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
}
.room__card {

    background-color: rgba(115, 77, 55,.1);
    margin-top: 4rem;
    flex:1 0 1;
    width: 40rem;
    margin-right: 4rem;
}
.room__wrapper img {
    width:100%;
   }


.room_card_content {
    padding: 1rem 1rem;
    background-color: #15141b;
    color: #fff;

}
.sub_heading{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #b85d1c;

}

.room_price {
    font-size: 2.9rem;
    text-align: right;
}

.room_card_btn {
    width:16rem;
    height: 3.5rem;
    background: transparent;
    color:#fff;
    cursor: pointer;
    text-transform: uppercase;
    outline:none;
    border: .1rem solid #b85d1c;
    border-radius: 4rem;
    transition: background-color .5s;
}


.room_card_btn:hover {
      background-color: #b85d1c;
}
.room_card_btn:active {
      width: 17rem;
}

/* customer  */

.customers {
    flex-flow: column nowrap;
    padding: 8rem;
    background-color: #15141b;
  
}
.customerd_section_text {
    font-size: 1.8rem;
    color:#ddd;
    width: 50%;
    margin: 2rem auto 8rem auto;
    text-align: center;
}
.customers__heading {
    color:#b85d1c
}

.customers_card_wrapper {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.customer_card {
    display: flex;
   background-color: #eee;
    margin-top: 2rem;
    width: 60rem;
   

}
.customer_info {
    padding: 0 2rem;
}
.customer_name {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
}
.customer_image_wrapper {
    margin: auto 0;
}

.customer_card img {
    width: 20rem;
    margin-left: -1.3rem;
}
.customer_title {
    color: #b85d1c;
}
.customer_message-1 {
    font-size: 1.2rem;
    font-style:italic;
    color: #b85d1c;
}
.customer_message-2 {
    font-size: 1.3rem;
    font-style:italic;
    columns: #b85d1c;
}

/* Footer  */                              
footer {
    margin-left: 6rem;
}
.footer_main_part {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 4rem;
    background-color: #1c1c1c;

}

.footer_heading{
    font-size: 2.5rem;
    font-weight: 300;
    color:goldenrod;
    margin: 1rem 0 3rem 0;;

}
.footer_list {
    padding: 0;
    list-style: none;
}
.footer_list_item {
    margin-bottom: 2rem;
}
.footer_list_link {
    text-decoration:none;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #bbb;
}
.contact p {
    font-size: 1.5rem;
    color: #bbb;
    margin-bottom: 4rem;
}

.footer_form {
    display: flex;
}

.footer_input {
    width: 25rem;
    padding: 1rem;
    /* font-family: Robo; */
    font-size: 1.8rem;
    color: #444;
    outline:none;
}
.footer_btn {
    padding: 1rem;
    background-color: #b85d1c;
    color: #ddd;
    border:none;
}

.gallary {
    max-width: 45rem;

}

.image_wrapper {
    width: 12rem;
    margin:.4rem;
    overflow: hidden;


}

.footer_image {
    width: 100%;
    height: 12em;
    transition: all .5s;
    height: 100%;
    backface-visibility: hidden;

}

.gallary_images{
    display: flex;
    flex-wrap:wrap;
    object-fit: contain;
   
}
.footer_image:hover {
    transform:scale(1.3);
    opacity: .8;

}


.creator_part{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding:1.2rem 4rem;
    background-color: #111;
}

.copyright_text {
    font-size: 1.3rem;
    color: #aaa;


}

.text_right {
    font-size: 1.4rem;
    color: #bbb;
    margin:.5rem;
}
.text_right .designer{
    color:tomato
}